<% if !current_user %>
<div class="container">
  <div class="alert alert-info">
    <%= link_to new_user_path, class: 'nes-btn is-primary' do %>
      Sign Up &raquo;
    <% end %>
    for a free account to track your conversations!
  </div>
</div>
<% end %>
<div class="col-lg-5">
  <div class="nes-container is-dark with-title msg-history">
    <p class="title">History</p>
    <div class="msg-scrollable">
      <section data-simplebar data-simplebar-auto-hide="false" class="message-list">
      </section>
    </div>
  </div>
</div>
<div class="col-lg-7">
  <div class="nes-container is-dark beardbot-avatar">
    <%= image_tag asset_url("beardbot.png"), alt: "BeardBot", class: "img-square center-block", id:"bb_pics", data:{path_to_small: asset_path("beardbotsmall.png")} %>
  </div>
  <div class="nes-container is-dark with-title beardbot-speech">
    <p class="title">BeardBot</p>
    <p id="bot-response"></p>
  </div>
  <div class="nes-container is-dark user-speech">
    <div class="input-group center">
      <span class="text-nowrap">
        <input id="query" type="text" class="nes-input is-dark" placeholder="Chat with BeardBot...">
        <button id="talk" class="nes-btn" type="button">Talk</button>
      </span>
    </div>
  </div>
</div>
