<div class="nes-container is-dark with-title is-centered about">
  <p class="title">About</p>

  <p>You've found BeardBot, a basic chatbot built to tell you about Golden&nbsp;Beard&nbsp;Games and to give you tips about their newest game!</p>
  <br>
  <p>He's not very smart yet, but he'll get there!</p>
  <br>
  <p>Also, he likes beer!</p>
  <br>
  <p>He's still early in development, if you'd like to have a look at his source code:</p>
  <br>
  <a class="text-clickable" href="https://github.com/Mellowlink/BeardBot"">CLICK HERE</a>
</div>
